.header {
  height: 3em;
  box-shadow: rgb(20 35 85 / 15%) 0px 2px 6px 0;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.headerContent { 
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}